:root {
  --maim-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --hero-title-color: #ffffff;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */

/* Сбрасываю отступы всм элементам */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

/* ======= COMMON ======= */
body {
  font-family: var(--maim-font);
  font-style: normal;
  color: var(--title-color);
}

ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
.address {
  font-style: normal;
}
img {
  display: block;
}

/* ДОПОЛНИТЕЛЬНЫЙ КЛАСС
 ДЛЯ ТОГО ЧТОБЫ ПРАВИЛЬНО
  СКРЫВАТЬ ЭЛЕМЕНТЫ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  Верхний и нижний отступ секции */
.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Заголовки секций */
.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ----- BTN ----- */
.btn {
  padding: 10px 30px;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}

/* Горизонтальное выравнивание контента
 списка основной страницы */
.main-list {
  display: flex;
  justify-content: space-between;
}

/* СПИСОК СОЦИАЛЬНЫХ ССЫЛОК */
.social-list {
  display: flex;
  justify-content: center;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms var(--cubic);
}
.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}
.social-list__svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms var(--cubic);
}
.social-list__link:hover .social-list__svg,
.social-list__link:focus .social-list__svg {
  fill: var(--hero-title-color);
}

/* ----- МОДАЛЬНОЕ ОКНО ----- */
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-beckdrop {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  transition: all 500ms linear;
}
.modal-beckdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
  transition: all 500ms linear;
}
.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: all 500ms linear;
}
.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms var(--cubic);
}
.modal-btn-close:hover,
.modal-btn-close:focus {
  fill: var(--accent-color);
}

.form {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.form__text {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form__input {
  padding-left: 42px;
  margin-top: 4px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--cubic);
}
.form__input:focus,
.form__textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form__textarea {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--cubic);
}
.form__checkbox {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.form__checkbox a {
  text-decoration: underline;
  margin-left: 5px;
  color: var(--accent-color);
}
.form__checkbox::before {
  display: inline-block;
  margin-right: 8px;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid var(--title-color);
  background-color: #fff;
  background-image: url("../images/svg/modal-check.svg");
  background-repeat: no-repeat;
  background-size: 12px 8px;
  background-position: center;
  transition: border 250ms var(--cubic), background-color 250ms var(--cubic);
}
.form__checkbox-input:checked + .form__checkbox::before {
  background-color: var(--accent-color);
  border: none;
}
.form__input-icon {
  position: absolute;
  left: 14px;
  top: 30px;
  width: 18px;
  height: 18px;
  transition: fill 250ms var(--cubic);
}
.form__input:focus + .form__input-icon {
  fill: var(--accent-color);
}

.modal__btn {
  margin: 0 auto;
}

/* ======= END COMMON ======= */

/* ======= LOGO ======= */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}
.header__logo {
  margin-right: 93px;
}

.logo__text-web {
  color: var(--accent-color);
}
.footer__logo {
  margin-bottom: 20px;
  color: var(--hero-title-color);
}
/* ======= END LOGO ======= */

/* ======= HEADER ======= */
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list,
.header__address-list {
  display: flex;
}
.header__nav-item {
  position: relative;
  padding: 32px 0;
}

.header__nav-item:not(:last-child),
.header__address-item:not(:last-child) {
  margin-right: 50px;
}

.header .address {
  margin-left: auto;
}

.header__nav-link,
.header__address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
}
.header__nav-link {
  color: var(--title-color);
}
.header__address-link {
  color: var(--text-color);
}
.header__nav-link:hover,
.header__nav-link:focus,
.header__address-link:hover,
.header__address-link:focus {
  color: var(--accent-color);
}

/* ----- active-page -----  */
.header__nav-link--active-page {
  color: var(--accent-color);
}
.header__nav-link--active-page::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  color: var(--text-color);
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  color: var(--text-color);
}

.header__address-link:hover .envelope,
.header__address-link:focus .envelope,
.header__address-link:hover .smartphone,
.header__address-link:focus .smartphone {
  fill: var(--accent-color);
}

/* ======= END HEADER ======= */

/* ======= HERO ======= */
.hero {
  padding: 200px 0px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-for-hero/Img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 600px;
}
.hero__title {
  max-width: 696px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.button-services {
  padding: 10px 30px;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}

/* ======= END HERO ======= */

/* ======= FEATURES ======= */
.features.section {
  padding-bottom: 0px;
}

.features__item {
  width: 270px;
}

.features__item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.features__item:nth-child(1)::before {
  background-image: url("../images/svg/svg-for-features/antenna.svg");
  background-size: 70px 70px;
}

.features__item:nth-child(2)::before {
  background-image: url("../images/svg/svg-for-features/clock.svg");
  background-size: 70px 70px;
}
.features__item:nth-child(3)::before {
  background-image: url("../images/svg/svg-for-features/diagram.svg");
  background-size: 70px 70px;
}
.features__item:nth-child(4)::before {
  background-image: url("../images/svg/svg-for-features/astronaut.svg");
  background-size: 70px 70px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* ======= END FEATURES ======= */

/* ======= SERVICES ======= */
.services__item {
  position: relative;
}
.services__wrap {
  position: absolute;
  bottom: 0;
  padding: 27px 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.services__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}
/* ======= END SERVICES ======= */

/* ======= COMMAND ======= */
.command {
  background: #f5f4fa;
}
.command__item {
  width: 270px;
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.command__text {
  padding: 30px 0px;
  text-align: center;
}
.command__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
}
.command__profession {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ======= END COMMAND ======= */

/* ======= CLIENTS ======= */
.clients__list {
  display: flex;
  justify-content: space-between;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms var(--cubic);
}
.clients__item .clients__svg {
  fill: #afb1b8;
  transition: fill 250ms var(--cubic);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
}
.clients__link:hover .clients__svg,
.clients__link:focus .clients__svg {
  fill: var(--accent-color);
}
/* ======= END CLIENTS ======= */

/* ======= FOOTER ======= */
.footer {
  padding: 60px 0px;
  background: #2f303a;
}

.footer .container {
  display: flex;
}

.webstudio-address__item:not(:last-child) {
  margin-bottom: 10px;
}
.webstudio-address__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
}
.map {
  color: var(--hero-title-color);
}
.webstudio-address {
  margin-right: 70px;
}

/* ----- social-container ----- */

.social-container {
  margin-right: 92px;
  width: 206px;
  height: 80px;
}
.social-container .social-list__svg {
  fill: var(--hero-title-color);
}
.social-container .social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-container .social-list__link:hover,
.social-container .social-list__link:focus {
  background-color: var(--accent-color);
}

/* invitation text */

.subscription__text,
.social-container__text {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}
/*  ----- Подписка ----- */
.subscription__form {
  display: flex;
}
.subscription__input {
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:invalid {
  border-color: rgb(238, 98, 98);
}
.subscription__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__icon-send {
  margin-left: 10px;
}
/* ======= END FOOTER ======= */

/* ======= PORTFOLIO ======= */

/* ======= СПИСОК КНОПОК-ФИЛЬТРОВ ======= */
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: #f5f4fa;
  transition: all 250ms var(--cubic);
}

.button-filter:hover,
.button-filter:focus {
  color: var(--hero-title-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ======= СЕТКА КАРТОЧЕК ======= */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.projects-list__item {
  margin: 15px;
  transition: box-shadow 250ms var(--cubic);
}
.projects-list__item:hover,
.projects-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__link:hover .projects-list__overlay,
.projects-list__link:focus .projects-list__overlay {
  top: 0;
}

.projects-list__wrap {
  position: relative;
  overflow: hidden;
}

.projects-list__overlay {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transition: top 250ms var(--cubic);
}
.projects-list__text-overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--hero-title-color);
}

.projects-list__text {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}
.projects-list__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.projects-list__filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* =======  END PORTFOLIO ======= */
