.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list,
.header__address-list {
  display: flex;
}
.header__nav-item {
  position: relative;
  padding: 32px 0;
}

.header__nav-item:not(:last-child),
.header__address-item:not(:last-child) {
  margin-right: 50px;
}

.header .address {
  margin-left: auto;
}

.header__nav-link,
.header__address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
}
.header__nav-link {
  color: var(--title-color);
}
.header__address-link {
  color: var(--text-color);
}
.header__nav-link:hover,
.header__nav-link:focus,
.header__address-link:hover,
.header__address-link:focus {
  color: var(--accent-color);
}

/* ----- active-page -----  */
.header__nav-link--active-page {
  color: var(--accent-color);
}
.header__nav-link--active-page::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  color: var(--text-color);
}

.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  color: var(--text-color);
}

.header__address-link:hover .envelope,
.header__address-link:focus .envelope,
.header__address-link:hover .smartphone,
.header__address-link:focus .smartphone {
  fill: var(--accent-color);
}
